.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 50px;
}
.logo{
    margin: 0;
}

.linkContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link{
    text-decoration: none;
    color: black;
}